.footer {
    height: 30px;
    background-color: #ffff;
    border-top: 1px solid  #e7ebf4;
    a{
        font-size: 14px;
        color: #858585;
        text-decoration: none;
        letter-spacing: 0.5px;
    }
}